.container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.headerLogo {
	display: flex;
	flex-direction: row;
	background-color: #2f3b4d;
	justify-content: space-between;
	color: #f9faf8;
}

.headers {
	display: flex;
	justify-content: flex-end;
	background-color: #2f3b4d;
	color: #f9faf8;
}

.opening {
	background-color: #1f2937;
}
.introduction {
	display: flex;
	justify-content: space-between;
	background-color: #1f2937;
}

h1 {
	color: #f9faf8;
}

p {
	color: #f9faf8;
}

.image {
	display: flex;
	width: 150px;
	height: 150px;
	background-color: #8fa0a0;
	margin-top: 35px;
}

.main-container {
	display: flex;
}

.black-background {
	flex: 1 1 80px;
	background-color: black;
}

.container > div {
	padding-left: 15px;
  padding-right: 15px;
}
