.container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.headerLogo {
	display: flex;
	flex-direction: row;
	background-color: #2f3b4d;
	justify-content: space-between;
	color: #f9faf8;
	padding-top: 4px;
	font-size: 10px;
}

.baby-cat {
	font-size: 14px;
	letter-spacing: -2px;
	font-weight: 600;
	font-style: italic;
}

.headers {
	display: flex;
	justify-content: flex-end;
	background-color: #2f3b4d;
	color: #f9faf8;
	padding-top: 4px;
	word-spacing: 33px;
	font-size: 11px;
}

:root {
	--color-navy: #1f2937;
}

.opening {
	background-color: var(--color-navy);
}
.introduction {
	display: flex;
	justify-content: center;
	background-color: var(--color-navy);
	margin-bottom: 20px;
}

.space-intro {
	background-color: var(--color-navy);
	margin-bottom: 60px;
	margin-top: 65px;
}

.about {
	color: #f9faf8;
	font-size: 20px;
}

p {
	color: #f9faf8;
	font-size: 13px;
}

.image {
	display: flex;
	width: 100px;
	height: 80px;
	background-color: #8fa0a0;
	margin-top: 10px;
}

.sweet-cats {
	font-size: 20px;
}

.space {
	padding-bottom: 20px;
}

.main-container {
	display: flex;
}

.black-background {
	flex: 1 1 80px;
	background-color: black;
}

.container > div {
	padding-left: 30px;
	padding-right: 30px;
}

.button-1 {
	background-color: #3882f6;
	color: #f9faf8;
	font-size: 12px;
}

.random-info {
	color: var(--color-navy);
}

.random-pics {
	background-color: white;
	display: flex;
	justify-content: space-evenly;
}

.random-pic {
	height: 50px;
	width: 50px;
	border: 2px solid rgb(62, 62, 160);
	border-radius: 10px;
	background-color: rgb(231, 231, 241);
}

.random-info {
	display: flex;
	justify-content: center;
}

.text-info {
	display: flex;
	justify-content: space-between;
}

.pic-text {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px ;
}

.text {
	text-align: center;
	font-size: 12px;
}

.quote {
	background-color: #dbe8e8;
	font-weight: 100px;
	padding-top: 20px;
	margin-top: 20px;
}

.author {
	display: flex;
	justify-content: flex-end;
	font-weight: 600;
	padding-bottom: 20px;
	font-size: small;
	margin-bottom: 10px;
}

.blue-space {
	background-color: #3882f6;
	height: 50px;
	width: 600px;
	margin-top: 40px;
	margin-bottom: 50px;
	border-radius: 5px;
}

.quote-text {
	font-size: 16px;
	font-style: italic;
	color:var(--color-navy);
	text-indent: 40px;
}

.closing {
	display: flex;
	justify-content: center;
	font-size: 10px;
	background-color: var(--color-navy);
	height: 25px;
	padding-top: 10px;
	padding-bottom: 5px;
	color:rgb(231, 231, 241);
	font-weight: 500;
}

.button-text {
	display: flex;
	font-size: 12px;
	justify-content: space-between;
}

.button-2 {
	height: 25px;
	width: 65px;
	border-radius: 5px;
	color: white;
	background-color: #3882f6;
	border: solid 1.5px white;
	font-weight: 400;
}

.sign-up-text {
	line-height: 0.2;
	text-indent: 120px;
	font-size: 14px;
	font-weight: 600;
}

.sign-up-text-2 {
	text-indent: 120px;
	font-size: 12px;
}
